.about-page-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-image{
    display: none;
}

.description-wrapper{
    width: 100%;
}

.description-wrapper > a{
    margin-right: 20px;
}