body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: rgb(195, 195, 195);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Nav bar */

a {
    color: white;
}

header {
    width: 100%;
    max-width: 1360px;
    background-color: black;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

.contact-info-wrapper {
    width: 100%;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.header-links {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.mailIcon {
    color: white;
    text-decoration: none;

}

.contact-button {
    font-weight: 700;
    color: white;
    border: 1px solid black;
    text-decoration: underline;
    background-color: black;
}

.contact-button:active {
    background-color: gray;
    border: 1px solid white;
}

.contact-button:hover {
    cursor: pointer;
}

.contact-dropdown {
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 100%;
    /* background-color: rgba(0, 0, 0, 0.315); */
    border: 1px solid rgb(143, 143, 143);
    box-shadow: 5px -5px 2px rgb(225, 224, 224);
    -webkit-animation: fadeIn 1s 0s backwards;
    animation: fadeIn 1s 0s backwards;
}


/* Animation for header links */
#firstSlide {
    -webkit-animation: .5s ease-in 0s 1 slideInFromLeft;
    animation: .5s ease-in 0s 1 slideInFromLeft;
    transform: scale(0);
    animation-fill-mode: forwards;
}

#secondSlide {
    -webkit-animation: .6s ease-in 0.2s 1 slideInFromLeft;
    animation: .6s ease-in 0.2s 1 slideInFromLeft;
    transform: scale(0);
    animation-fill-mode: forwards;
}

#thirdSlide {
    -webkit-animation: .7s ease-in 0.4s 1 slideInFromLeft;
    animation: .7s ease-in 0.4s 1 slideInFromLeft;
    transform: scale(0);
    animation-fill-mode: forwards;
}

#fourthSlide {
    -webkit-animation: .8s ease-in 0.6s 1 slideInFromLeft;
    animation: .8s ease-in 0.6s 1 slideInFromLeft;
    transform: scale(0);
    animation-fill-mode: forwards;
}

#fifthSlide {
    -webkit-animation: .9s ease-in 0.8s 1 slideInFromLeft;;
    animation: .9s ease-in 0.8s 1 slideInFromLeft;
    transform: scale(0);
    animation-fill-mode: forwards;

}

/* Main Content */

main {
    width: 100%;
    max-width: 1020px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fadeInAnimation{
    -webkit-animation: fadeIn 4.0s 1.7s backwards;;
    animation: fadeIn 4.0s 1.7s backwards;
}

.about-me {
    text-align: center;
}

.about-me>a {
    margin-right: 10px;
}

.project-container {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    max-width: 600px;
}

.project-container-scroll {
    height: 300px;
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    background-color: white;

}

.row {
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.project-links > a{
    color: black;
}


/* carousel */

.project-thumbnail {
    width: 100%;
}

.card-wrapper {
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(83, 83, 83);
    background-color: white;
    color: black;
}

.main-wrapper {
    margin-top: 15%;
}

.description{
    padding: 10px;
}

.description > :nth-child(2){
    font-style: italic;
}

@media only screen and (min-width: 620px) {
    main {
        margin-top: 5%;
    }

}

@media only screen and (min-width: 1000px) {
    header {
        margin: 0 auto;
    }

    main {
        display: flex;
        flex-direction: row;
        margin: 2% auto;
    }


    .contact-info-wrapper {
        max-width: 1360px;
        margin: 0 auto;

    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .project-container {
        width: 60%;
    }

    .about-me {
        width: 40%;
        padding: 0 10px;
    }

    .row {
        width: 100%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: scale(0);
        transform: translateX(-1000px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        background-color: rgba(0,0,0, 1);        
    }
}